.wrapper {
    max-width: 800px;
    margin: 4rem auto;
}

.main {
    display: flex;
}

#captured-pieces {
    box-sizing: border-box;
    padding: 1rem;

    flex-basis: 200px;
}

.captured-piece {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 1rem 0;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-size: contain;
}


#board {
    display: grid;
    width: 600px;
    height: 600px;

    grid-template-rows: repeat(8, 1fr);
}



.row {
    display: grid;

    grid-template-columns: repeat(8, 1fr);
}

.row:nth-child(odd) .cell:nth-child(even),
.row:nth-child(even) .cell:nth-child(odd) {
    background-color: #aaa;
}


.cell {
    padding: .5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: content-box;
    background-size: contain;

    &.active {
        background-color: green !important;
    }
}

.cell.white,
.cell.black {
    cursor: pointer;
}

.pawn,
.rook {
    padding: 1.2rem;
}

.knight,
.bishop {
    padding: .8rem;
}

.white.pawn {
    background-image: url('images/pawn-w.png');
}
.white.queen {
    background-image: url('images/queen-w.png');
}
.white.king {
    background-image: url('images/king-w.png');
}
.white.knight {
    background-image: url('images/knight-w.png');
}
.white.bishop {
    background-image: url('images/bishop-w.png');
}
.white.rook {
    background-image: url('images/rook-w.png');
}

.black.pawn {
    background-image: url('images/pawn-b.png');
}
.black.queen {
    background-image: url('images/queen-b.png');
}
.black.king {
    background-image: url('images/king-b.png');
}
.black.knight {
    background-image: url('images/knight-b.png');
}
.black.bishop {
    background-image: url('images/bishop-b.png');
}
.black.rook {
    background-image: url('images/rook-b.png');
}
